*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

object,
embed {
  max-width: 100%;
  vertical-align: bottom;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

hr {
  border: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  -webkit-text-decoration-skip: objects;
  outline: none;
}

a:hover {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
kbd,
samp {
  font-family: monospace, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
progress {
  vertical-align: baseline;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
